In [14]:
import pandas as pd 
df = pd.read_csv('Dataset/class2.csv')
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

# 결측치

In [ ]:
#결측치 확인
#isnull() 멧서드는 결측치를 확인해주고
#sum()메서드는 결측치가 몇개인지 합산하여 보여줌
df.isnull().sum()
#결과는 x y r 각각 2개 씩 존재

In [9]:
#결측치 비율
df.isnull().sum() / len(df)

Unnamed: 0    0.000000
id            0.000000
tissue        0.000000
class         0.000000
class2        0.000000
x             0.333333
y             0.333333
r             0.333333
dtype: float64

In [18]:
#모든 행이 NaN일때만 삭제 해주는 dropna
df_dropna_all = df.dropna(how='all') #여러가지 사용법이 있으니 자세하게 한번 보셈
print(df_dropna_all)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [17]:
df_dropna_any = df.dropna(how='any') 
#any는 하나라도 NaN값이 있으면 행을 삭제 결과를 보면 23가 삭제됌
print(df_dropna_any)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [20]:
#fillna는 결측치를 0으로 채우는것
df_fillna_0 = df.fillna(0)
print(df)
print(df_fillna_0)
#NaN값이 0으로 채워진것을 확인할 수 있음.

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0
   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [34]:
#아까 결측치 확인 시 결측치가 있었던 x,y,r의 평균값을 출력
print(df['x'].mean())
print(df['y'].mean())
print(df['r'].mean())

#x,y,r의 결측치를 각각의 평균값으로 채움
df['x'].fillna(df['x'].mean(), inplace=True)
print(df)

500.0
266.5
217.5
   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I  500.0  266.5  500.0
3           3  mdb003      C  CIRC      B  500.0  266.5  500.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

위에서 보다싶이 데이터셋의 결측치를 제거,수정할 수 있는 방법은 여러가지가 있음

# 토큰화

In [36]:
from nltk import sent_tokenize
text_sample = 'Natural'