In [1]:
import pandas as pd 
df = pd.read_csv('Dataset/class2.csv')
df

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

# 결측치

In [2]:
#결측치 확인
#isnull() 멧서드는 결측치를 확인해주고
#sum()메서드는 결측치가 몇개인지 합산하여 보여줌
df.isnull().sum()
#결과는 x y r 각각 2개 씩 존재

Unnamed: 0    0
id            0
tissue        0
class         0
class2        0
x             2
y             2
r             2
dtype: int64

In [3]:
#결측치 비율
df.isnull().sum() / len(df)

Unnamed: 0    0.000000
id            0.000000
tissue        0.000000
class         0.000000
class2        0.000000
x             0.333333
y             0.333333
r             0.333333
dtype: float64

In [4]:
#모든 행이 NaN일때만 삭제 해주는 dropna
df_dropna_all = df.dropna(how='all') #여러가지 사용법이 있으니 자세하게 한번 보셈
print(df_dropna_all)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [5]:
df_dropna_any = df.dropna(how='any') 
#any는 하나라도 NaN값이 있으면 행을 삭제 결과를 보면 23가 삭제됌
print(df_dropna_any)

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [6]:
#fillna는 결측치를 0으로 채우는것
df_fillna_0 = df.fillna(0)
print(df)
print(df_fillna_0)
#NaN값이 0으로 채워진것을 확인할 수 있음.

   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    NaN    NaN    NaN
3           3  mdb003      C  CIRC      B    NaN    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0
   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I    0.0    0.0    0.0
3           3  mdb003      C  CIRC      B    0.0    0.0    0.0
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

In [7]:
#아까 결측치 확인 시 결측치가 있었던 x,y,r의 평균값을 출력
print(df['x'].mean())
print(df['y'].mean())
print(df['r'].mean())

#x,y,r의 결측치를 각각의 평균값으로 채움
df['x'].fillna(df['x'].mean(), inplace=True)
print(df)

500.0
266.5
76.25
   Unnamed: 0      id tissue class class2      x      y      r
0           0  mdb000      C  CIRC      N  535.0  475.0  192.0
1           1  mdb001      A  CIRA      N  433.0  268.0   58.0
2           2  mdb002      A  CIRA      I  500.0    NaN    NaN
3           3  mdb003      C  CIRC      B  500.0    NaN    NaN
4           4  mdb004      F  CIRF      I  488.0  145.0   29.0
5           5  mdb005      F  CIRF      B  544.0  178.0   26.0

위에서 보다싶이 데이터셋의 결측치를 제거,수정할 수 있는 방법은 여러가지가 있음

# 토큰화

## nltk사용

In [10]:
from nltk import sent_tokenize
text_sample = 'For writers, a random sentence can help them get their creative juices flowing. Since the topic of the sentence is completely unknown, it forces the writer to be creative when the sentence appears. There are a number of different ways a writer can use the random sentence for creativity. The most common way to use the sentence is to begin a story. Another option is to include it somewhere in the story. A much more difficult challenge is to use it to end a story. In any of these cases, it forces the writer to think crea'
tokenized_sentences = sent_tokenize(text_sample)
print(tokenized_sentences)

#정확하게 문장단위로 구분됨

['For writers, a random sentence can help them get their creative juices flowing.', 'Since the topic of the sentence is completely unknown, it forces the writer to be creative when the sentence appears.', 'There are a number of different ways a writer can use the random sentence for creativity.', 'The most common way to use the sentence is to begin a story.', 'Another option is to include it somewhere in the story.', 'A much more difficult challenge is to use it to end a story.', 'In any of these cases, it forces the writer to think crea']

In [11]:
from nltk import word_tokenize
sentence = "This book is for deep learning learners"
words = word_tokenize(sentence)
print(words)

#주어진 문장을 단어단위로 토큰화

['This', 'book', 'is', 'for', 'deep', 'learning', 'learners']

In [12]:
#아포스트로피가 있는 문장은 nltk의 WordPunctRokenizer을 이용
from nltk.tokenize import WordPunctTokenizer
sentence = 'it`s nothing that you don`t aleady know except most people aren`t aware of how their inner world works.'

words = WordPunctTokenizer().tokenize(sentence)
print(words)

['it', '`', 's', 'nothing', 'that', 'you', 'don', '`', 't', 'aleady', 'know', 'except', 'most', 'people', 'aren', '`', 't', 'aware', 'of', 'how', 'their', 'inner', 'world', 'works', '.']

## Keras를 이용한 토큰화

In [15]:
from tensorflow.keras.preprocessing.text import text_to_word_sequence
sentence = 'it`s nothing that you don`t aleady know except most people aren`t aware of how their inner world works.'
words = text_to_word_sequence(sentence)
print(words)

['it', 's', 'nothing', 'that', 'you', 'don', 't', 'aleady', 'know', 'except', 'most', 'people', 'aren', 't', 'aware', 'of', 'how', 'their', 'inner', 'world', 'works']

## 한글 토큰화 예제(KoNlpy)

In [25]:
##안되서 패스
import csv 
from konlpy.tag import Okt
# import gensim

## 불용어 제거

In [26]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hyunsul/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/hyunsul/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [30]:
sample_text = 'One of the first things that we ask ourselves is what are the pors and conds of any task we perform'
text_tokens = word_tokenize(sample_text)

tokens_without_sw = [word for word in text_tokens if not word in stopwords.words('english')]

print(f'불용어 제거 미적용 : {text_tokens} \n')
print(f'불용어 제거 적용 : {tokens_without_sw}')

#of the 와 같은 단어가 제거된걸 알 수 있음.

불용어 제거 미적용 : ['One', 'of', 'the', 'first', 'things', 'that', 'we', 'ask', 'ourselves', 'is', 'what', 'are', 'the', 'pors', 'and', 'conds', 'of', 'any', 'task', 'we', 'perform']

불용어 제거 적용 : ['One', 'first', 'things', 'ask', 'pors', 'conds', 'task', 'perform']

## 어간 추출

### 포터 알고리즘

In [36]:
from nltk.stem import PorterStemmer
stemmer = PorterStemmer()

print(stemmer.stem('obesses'), stemmer.stem('obssesed'))
print(stemmer.stem('standardizes'), stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized'))

#실행결과 단어 원형이 비교적 잘 보존되어 있는 것을 확인할 수 있음.

obess obsses
standard standard
nation nation
absent absent
tribal tribalic

### 랭케스터 알고리즘

In [37]:
from nltk.stem import LancasterStemmer
stemmer = LancasterStemmer()

print(stemmer.stem('obesses'), stemmer.stem('obssesed'))
print(stemmer.stem('standardizes'), stemmer.stem('standardization'))
print(stemmer.stem('national'), stemmer.stem('nation'))
print(stemmer.stem('absentness'), stemmer.stem('absently'))
print(stemmer.stem('tribalical'), stemmer.stem('tribalicalized')) # -- 사전에 없는단어

##정밀도가 낮으나 데이터셋을 축소시켜야 하는 특정 상황에서나 유용함

obess obsses
standard standard
nat nat
abs abs
trib trib

### 표제어 추출

In [42]:
import nltk
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
lemma = WordNetLemmatizer()

print(stemmer.stem('obesses'), stemmer.stem('obssesed'))
print(lemma.lemmatize('standardizes'), lemma.lemmatize('standardization'))
print(lemma.lemmatize('national'), lemma.lemmatize('nation'))
print(lemma.lemmatize('absentness'), lemma.lemmatize('absently'))
print(lemma.lemmatize('tribalical'), lemma.lemmatize('tribalicalized'),'\n')

##품사 정보를 추가

print(lemma.lemmatize('obesses','v'), lemma.lemmatize('obssesed','a'))
print(lemma.lemmatize('standardizes','v'), lemma.lemmatize('standardization','n'))
print(lemma.lemmatize('national','a'), lemma.lemmatize('nation','n'))
print(lemma.lemmatize('absentness','n'), lemma.lemmatize('absently','r'))
print(lemma.lemmatize('tribalical','a'), lemma.lemmatize('tribalicalized','v'))

obess obsses
standardizes standardization
national nation
absentness absently
tribalical tribalicalized

obesses obssesed
standardize standardization
national nation
absentness absently
tribalical tribalicalized

[nltk_data] Downloading package wordnet to /Users/hyunsul/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

## 정규화

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.python.data import Dataset
from tensorflow.keras.utils import to_categorical
from tensorflow.keras import models
from tensorflow.keras import layers

In [46]:
df = pd.read_csv('Dataset/covtype.csv')
x = df[df.columns[:54]]
y = df.cover_type #정답 레이블을 cover_type 칼럼으로 저장

In [52]:
x_train, x_test, y_train, y_test = train_test_split(x,y , train_size=0.7, random_state=90)

#히든레이어 설정
model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation='relu',
                         input_shape=(x_train.shape[1],)),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(8, activation='softmax')
])

#아웃풋레이어 설정
model.compile(optimizer=tf.keras.optimizers.Adam(0.001),
             loss = 'sparse_categorical_crossentropy',
             metrics=['accuracy'])

In [53]:
history = model.fit(
    x_train, y_train,
    epochs=26, batch_size=60,
    validation_data=(x_test, y_test))

WARNING:tensorflow:Falling back from v2 loop because of error: Failed to find data adapter that can handle input: <class 'pandas.core.frame.DataFrame'>, <class 'NoneType'>
Train on 406708 samples, validate on 174304 samples
Epoch 1/26
406708/406708 [==============================] - 26s 63us/sample - loss: 8.2618 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 2/26
406708/406708 [==============================] - 25s 60us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 3/26
406708/406708 [==============================] - 24s 60us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 4/26
406708/406708 [==============================] - 26s 63us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 5/26
406708/406708 [==============================] - 27s 66us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 6/26
406708/406708 [==============================] - 27s 67us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 7/26
406708/406708 [==============================] - 27s 66us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 8/26
406708/406708 [==============================] - 27s 66us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 9/26
406708/406708 [==============================] - 28s 70us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 10/26
406708/406708 [==============================] - 29s 72us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 11/26
406708/406708 [==============================] - 28s 70us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 12/26
406708/406708 [==============================] - 28s 68us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 13/26
406708/406708 [==============================] - 28s 68us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 14/26
406708/406708 [==============================] - 30s 73us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 15/26
406708/406708 [==============================] - 30s 73us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 16/26
406708/406708 [==============================] - 28s 70us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 17/26
406708/406708 [==============================] - 29s 72us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 18/26
406708/406708 [==============================] - 29s 72us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 19/26
406708/406708 [==============================] - 30s 74us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 20/26
406708/406708 [==============================] - 30s 73us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 21/26
406708/406708 [==============================] - 30s 74us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 22/26
406708/406708 [==============================] - 30s 74us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 23/26
406708/406708 [==============================] - 28s 69us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 24/26
406708/406708 [==============================] - 29s 72us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 25/26
406708/406708 [==============================] - 30s 74us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880
Epoch 26/26
406708/406708 [==============================] - 28s 69us/sample - loss: 8.2614 - accuracy: 0.4874 - val_loss: 8.2531 - val_accuracy: 0.4880